@font-face {
    font-family: tilt-neon;
    src: url(./fonts/static/TiltNeon-Regular.ttf);
}

#main-container {
    display: flex;
}

#left-container {
    flex: auto;
    width: 50%;
    position: relative;
}

#right-container {
    flex: auto;
    width: 50%;
}

img {
    width: 100%;
}

#logo-container {
    position: absolute;
    top: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: tilt-neon;
    font-size: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
}

#logo-container > * {
    flex: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#credit-text {
    color: white;
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-family: monospace;
    font-size: 0.9rem;
}

#credit-text a {
    color: white;
}

#top-blurb {
    background-color: lightgray;
}