@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Train+One&display=swap');

:root {
    --button-color: darkslategrey;
}

body {
    margin: 0;
    overflow: auto;
}

#main-container {
    display: flex;
}

#left-container {
    flex: auto;
    width: auto;
    position: relative;
}

#right-container {
    flex: auto;
    width: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

img {
    height: 100vh;
    display: block;
}

#logo-container {
    position: absolute;
    top: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Train One';
    font-size: 9rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
}

#logo-container > * {
    flex: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#credit-text {
    color: white;
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-family: monospace;
    font-size: 0.9rem;
}

#credit-text a {
    color: white;
}

#top-blurb, #bottom-blurb {
    padding: 3%;
    font-weight: bolder;
    bottom: 100%;
}

#top-blurb {
    font-size: 23px;
    color: #262626;
    padding-top: 15%;
    padding-right: 25%;
}

form {
    padding: 3%;
    padding-bottom: 5%;
    background-color: white;
    box-shadow: 1px 3px 10px -5px black;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10%;
    grid-column-gap: 5%;
    justify-content: start;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    box-sizing: border-box;
    min-height: 35%;
}

#form-header {
    grid-column: 1 / span 2;
    font-size: 23px;
    color: #262626;
}

input, label {
    display: block;
}

label {
    color: darkslategray;
}

input:focus {
    box-shadow: 1px 1px 5px lightgray;
}

input:focus:valid {
    outline: none;
    border: 2px solid rgba(51, 153, 102, 0.5);
}

input:focus:invalid {
    outline: none;
    border: 2px solid rgba(153, 51, 51, 0.5);
}

input {
    margin-top: 5px;
    width: 295px;
    height: 25px;
    border: 2px solid darkslategray;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    transition: 0.3s;
}

input:not(:focus):valid:not(:placeholder-shown) {
    border-color: rgba(51, 153, 102, 1);
    background-color: rgba(51, 153, 102, 0.1);
}

input:not(:focus):invalid:not(:placeholder-shown) {
    border-color: rgba(153, 51, 51, 1);
    background-color: rgba(153, 51, 51, 0.1);
}

input:placeholder-shown {
    border-color: darkslategray;
}

button {
    background-color: white;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    color: var(--button-color);
    padding: 1% 4% 1% 4%;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--button-color);
    color: white;
    transition: 0.3s;
}

#pass-error-message {
    color: rgba(153, 51, 51, 1);
    font-size: 0.7rem;
    transition: 0.3s;
}