@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Zeyada&display=swap');

:root {
    --button-color: #339966;
}

#main-container {
    display: flex;
}

#left-container {
    flex: auto;
    width: 50%;
    position: relative;
}

#right-container {
    flex: auto;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

#logo-container {
    position: absolute;
    top: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Zeyada';
    font-size: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
}

#logo-container > * {
    flex: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#credit-text {
    color: white;
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-family: monospace;
    font-size: 0.9rem;
}

#credit-text a {
    color: white;
}

#top-blurb, #bottom-blurb {
    background-color: #e6e6ff;
    padding: 2%;
    font-weight: bolder;
}

#top-blurb {
    font-size: 23px;
}


button {
    background-color: white;
    border: 2px solid var(--button-color);
    border-radius: 10px;
    color: var(--button-color);
    padding: 1% 4% 1% 4%;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--button-color);
    color: white;
    transition: 0.3s;
}